table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    background-color: lightgrey;
  }